soap/math/math.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.beaconice.cn/math/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="math" targetNamespace="http://www.beaconice.cn/math/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.beaconice.cn/math/">
      <xsd:element name="add">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="x" type="xsd:float" />
          	<xsd:element name="y" type="xsd:float"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:float" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sub">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="x" type="xsd:float"></xsd:element>
      			<xsd:element name="y" type="xsd:float"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="subResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:float"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="addRequest">
    <wsdl:part element="tns:add" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part element="tns:addResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="subRequest">
  	<wsdl:part name="parameters" element="tns:sub"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="subResponse">
  	<wsdl:part name="parameters" element="tns:subResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="math">
    <wsdl:operation name="add">
      <wsdl:input message="tns:addRequest"/>
      <wsdl:output message="tns:addResponse"/>
    </wsdl:operation>
    <wsdl:operation name="sub">
    	<wsdl:input message="tns:subRequest"></wsdl:input>
    	<wsdl:output message="tns:subResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BMath" type="tns:math">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="add">
  		<soap:operation soapAction="http://www.beaconice.cn/math/add" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="sub">
  		<soap:operation soapAction="http://www.beaconice.cn/math/sub" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="math">
    <wsdl:port binding="tns:BMath" name="SMath">
      <soap:address location="http://10.10.38.80:7777/mathWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
